name: Node.js CI/CD Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
    test: 
        name: Test application 
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                node-version: '22'
                
            - name: Install dependencies
              run: npm install
            
            - name: Run Tests and Save Results
              run: |
                npm run check 2>&1 | tee test-results.txt

            - name: Display Test Results
              run: cat test-results.txt

            - name: Upload Test Results Artifact
              uses: actions/upload-artifact@v4
              with:
                name: test-results
                path: test-results.txt
                
            