name: Node.js CI/CD Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
    test: 
        name: Test application 
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                node-version: '22'
                
            - name: Install dependencies
              run: npm install
            
            - name: Run Tests and Save Results
              run: |
                npm run check 2>&1 | tee test-results.txt

            - name: Display Test Results
              run: cat test-results.txt

            - name: Upload Test Results Artifact
              uses: actions/upload-artifact@v4
              with:
                name: test-results
                path: test-results.txt
                
    deploy:
        name: Deploy application
        runs-on: self-hosted
        needs: test
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Download Test Results Artifact
              uses: actions/download-artifact@v4
              with:
                name: test-results

            - name: Display Test Results
              run: cat test-results.txt

            # - name: Set up Node.js
            #   uses: actions/setup-node@v4
            #   with:
            #     node-version: '22'
            
            - name: Install PM2
              run: npm install -g pm2
            
            - name: Install dependencies
              run: npm install
            
            - name: Deploy Application to server
              run: |
                echo "Deploying application..."
                pm2 delete "node app" || true
                pm2 start "npm start" --name "node app"
                pm2 save